button{
  width:35px;
  height:35px;
  border-radius: 50%;
  border: 0;
  background: transparent;
  font-size: 18px;
}

.container{
  display: flex;
  justify-content: start;
  gap: 2px;
  width: 100%;
}
button:hover{
  background: #bfbfbf;
}

