<div class="container">
  <button class="material-symbols-outlined" id="check" matTooltip="Reminder" matTooltipShowDelay="100">add_alert</button>
  <button class="material-symbols-outlined" id="collab"matTooltip="Collaborator" matTooltipShowDelay="100">person_add</button>
  <button class="material-symbols-outlined" id="color"matTooltip="Background options" matTooltipShowDelay="100">palette</button>
  <button class="material-symbols-outlined" id="image"matTooltip="Add image" matTooltipShowDelay="100">image</button>
  <button class="material-symbols-outlined" id="archive"matTooltip="Archive" matTooltipShowDelay="100">archive</button>
  <button class="material-symbols-outlined" id="more_vert"matTooltip="More" matTooltipShowDelay="100">more_vert</button>
</div>
