<div class="container-nav">
  <div class="side-nav">
    <div class="notes">
      <button class="material-symbols-outlined">
        lightbulb
      </button>
      <span>Notes</span>
    </div>
    <div class="reminder">
      <button class="material-symbols-outlined">
        notifications
        </button>
      <span>Reminder</span>
    </div>
    <div class="label">
      <button class="material-symbols-outlined">
        label
        </button>
      <span>Label</span>
    </div>
    <div class="edit-label">
      <button class="material-symbols-outlined">
        edit
        </button>
      <span>Edit labels</span>
    </div>
    <div class="archive">
      <button class="material-symbols-outlined">
        archive
        </button>
      <span>Archive</span>
    </div>
    <div class="trash">
      <button class="material-symbols-outlined">
        delete
      </button>
      <span>Trash</span>
    </div>
  </div>
  <p [style.color]="!isNavbarOpen ? 'white' : 'black'" [class.open]="isNavbarOpen">Open source licence</p>
</div>
