<div class="header">
  <div class="logo">
    <button class="material-symbols-outlined" id="menu" (click)="onToggleNavbar()">
      menu
    </button>
    <div class="keep-logo">
      <img src="../../assets/images/google-keep.png" width="35px" height="35px"/>
      <span>Keep</span>
    </div>
  </div>

  <div class="search-bar">
    <span class="material-symbols-outlined">
      search
    </span>
    <input id="search-input" placeholder="Search">
    <span class="material-symbols-outlined">
      close
    </span>
  </div>

  <div class="start-setting">
    <button class="material-symbols-outlined">
      refresh
    </button>
    <button class="material-symbols-outlined">
      splitscreen
    </button>
    <button class="material-symbols-outlined">
      settings
    </button>

  </div>

  <div class="user">
    <button class="material-symbols-outlined" id="apps">
      apps
    </button>
    <img src="../../assets/images/hacker.png" class="user-icon" width="40px" height="40px">
  </div>
</div>
