<div class="main-login-container">

  <div class="login-container">

    <div class ="left-part">
      <img src="../../assets/images/google-logo.png" width="50px" height="50px"/>
      <h1>Sign in</h1>
      <p>Use your Google Account</p>
    </div>

    <form class="submit-form" [formGroup]="loginForm">
      <div class="right-part">
          <div class = "right-upper">

            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input  matInput placeholder="" formControlName="email">
              <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
                Email is Required
              </mat-error>
              <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
                Email is not valid
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input id="password" matInput [type]="showPassword ? 'text' : 'password'" placeholder="" formControlName="password">
              <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
                Password is required
              </mat-error>
              <mat-error *ngIf="loginForm.get('password')?.hasError('pattern')">
                Password is not valid
              </mat-error>
            </mat-form-field>

            <div class="password-options">
              <mat-checkbox id="checkbox" (change)="togglePasswordVisibility()" class="example-margin" color="primary">Show password</mat-checkbox>
              <button mat-button color="primary">Forget Password?</button>
            </div>
        </div>

        <div class="buttons-effect">
          <button mat-button color="primary">Create Account</button>
          <button class="btn-signin"mat-flat-button color="primary">Sign in</button>
        </div>
      </div>
    </form>
  </div>

  <div class="lowerportion-login">
    <mat-form-field appearance="outline" class="transparent-select" style="background: transparent; border: none;">
      <mat-label>Select Language</mat-label>
      <mat-select>
        <mat-option value="en_US">English (United States)</mat-option>
        <mat-option value="en_UK">English (United Kingdom)</mat-option>
        <mat-option value="fr_FR">French (France)</mat-option>
        <mat-option value="es_ES">Spanish (Spain)</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="help-privacy-terms">
      <button mat-button>help</button>
      <button mat-button>privacy</button>
      <button mat-button>terms</button>
    </div>
  </div>

</div>
