.container{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 250px;
  height:auto;
  align-items: center;
  background-color: white;
  margin-top: 40px;
  padding: 5px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}
.top-title{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
#Title{
  font-weight: 400;
  font-size: 20px;
}
.search{
  outline: none;
  border: 0;
  font-size: 15px;
  caret-color: black;
  color: black;
  width: 300px;
  width: 100%;
  resize: none;
}

.search::placeholder{
  color: black;
}
.lower{
  display: flex;
  justify-content: space-between;
  width: 100%;
}



button
{
  width:40px;
  height:35px;
  border-radius: 40%;
  border: 0;
  background-color: transparent;
  color: #757575;

}
button:hover{
  background-color: #bfbfbf;
  color: black;
}

#check2,
.lower,
.top-left-button {
  opacity: 0;
  transition: opacity 0.1s ease-in; /* Add transition for opacity */
}

.visible {
  opacity: 1;
}

.visible #check2{
  opacity: 1;
}

.visible .top-left-button{
  opacity: 1;
}

.top-left-button {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.top-left-button:hover{
  background-color: black;
}
i{
  font-size: 15px;
  font-weight: 600;
  color: white;
}
