<div class="container" (mouseenter)="handleHover()" (mouseleave)="handleHover()">
  <button class="top-left-button" [class.visible]="showTools" matTooltip="Select note" matTooltipShowDelay="100">
    <i class="material-icons">check</i>
  </button>
  <div class="top-title" [class.visible]="showTools">
    <input type="text" class="search" placeholder="Title" id="Title">
    <button class="material-symbols-outlined" id="check2" [class.visible]="showTools" matTooltip="Pin" matTooltipShowDelay="100">keep</button>
  </div>
  <textarea class="search" placeholder="Take a note..." id="inner-title"></textarea>
  <div class="lower" [class.visible]="showTools">
    <app-tool-execute></app-tool-execute>
  </div>
</div>
