<div class="main-reset-password-container">

  <div class="reset-password-container">

    <div class ="left-part">
      <img src="../../assets/images/google-logo.png" width="50px" height="50px"/>
      <h1>Reset Password</h1>
      <p>Unlock Your Access, Secure Your Journey: Reset with Google</p>
    </div>

    <div class="right-part">
      <div class = "right-upper">
        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input matInput placeholder="">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput placeholder="">
        </mat-form-field>

        <div class="password-options">
          <mat-checkbox class="example-margin" color="primary">Show password</mat-checkbox>
        </div>
      </div>

      <div class="buttons-effect">
        <button class="btn-signin"mat-flat-button color="primary">Reset Password</button>
      </div>

    </div>

  </div>

  <div class="lowerportion-login">
    <mat-form-field appearance="outline" class="transparent-select" style="background: transparent; border: none;">
      <mat-label>Select Language</mat-label>
      <mat-select>
        <mat-option value="en_US">English (United States)</mat-option>
        <mat-option value="en_UK">English (United Kingdom)</mat-option>
        <mat-option value="fr_FR">French (France)</mat-option>
        <mat-option value="es_ES">Spanish (Spain)</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="help-privacy-terms">
      <button mat-button>help</button>
      <button mat-button>privacy</button>
      <button mat-button>terms</button>
    </div>
  </div>

</div>
