<div class="main-forget-password-container">

  <div class="forget-password-container">

    <div class ="left-part">
      <img src="../../assets/images/google-logo.png" width="50px" height="50px"/>
      <h1>Account Recovery</h1>
      <p>To help keep your account safe, Google wants to make sure that it’s really you trying to sign in</p>
    </div>

    <div class="right-part">
      <div class = "right-upper">
      </div>

      <div class="buttons-effect">
        <button mat-flat-button class="btn-signin" color="primary">Send Token</button>
      </div>

    </div>

  </div>

  <div class="lowerportion-login">
    <mat-form-field appearance="outline" class="transparent-select" style="background: transparent; border: none;">
      <mat-label>Select Language</mat-label>
      <mat-select>
        <mat-option value="en_US">English (United States)</mat-option>
        <mat-option value="en_UK">English (United Kingdom)</mat-option>
        <mat-option value="fr_FR">French (France)</mat-option>
        <mat-option value="es_ES">Spanish (Spain)</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="help-privacy-terms">
      <button mat-button>help</button>
      <button mat-button>privacy</button>
      <button mat-button>terms</button>
    </div>
  </div>

</div>
