.main-container {
  display: flex;
}

.sidenav {
  width: 300px;
  min-height: calc(100vh - 70px);
  background-color: #ffffff;
  color: black;
  transition: width 0.8s ease;
}

.sidenav.start {
  transition-duration: 0.8s;
}

.main {
  padding: 30px;
  background-color: ivory;
  width: 100%;
}

.header{
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
