.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.upper-section{
  display:flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid white;
  width: 60%;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
}
.upper-section-change{
  display:flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid white;
  width: 60%;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  height: auto;
}

.setting-logo{
  display: flex;
  justify-content: space-evenly;
  width: 20%;
  gap: 5px;
}

button{
  width:40px;
  height:40px;
  border-radius: 40%;
  border: 0;
  background: transparent;
  color: #757575;
}

.search{
  outline: none;
  border: 0;
  font-size: 15px;
  caret-color: black;
  color: black;
  width: 100%;
}

.search::placeholder{
  color: black;
}

button:hover{
  background-color: #f1f3f4;
  color: black;
}

.top-title{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#Title{
  font-size: 15px;
  font-weight: 500;
}
#inner-title{
  font-size: 13px;
  min-height: 60px;
  max-height:auto;
  vertical-align: top;
  text-align: start;
  outline: none;
  border: none;
  resize: none;
}

.lower{
  width: 100%;
}
#close{
  border-radius: 0;
}
.lower{
  display: flex;
  justify-content: space-between;
}
.notes{
  align-items: start;
  width: 100%;
}
#undo,#redo{
  color: #bfbfbf;
  background: transparent;
  font-size: 18px;
  border-radius: 50%;
  width:35px;
  height:35px;
  border: 0;
}

#undo:hover,#redo:hover{
  color: black;
  background: #bfbfbf;
}
.controls{
  display: flex;
}

